/* stop the content overflowing to the sides, especially with negative margins on .row */

#MPOuterMost {
    overflow-x: hidden;
}

/* hide .HtmlFooter and .MPBottomMenu, both of which add extra padding/whitespace */

.HtmlFooter, .MPBottomMenu {
    display: none;
}

/* remove bottom margin from empty paragraphs (eg. in widgets) to avoid whitespace */

p:empty {
    margin-bottom: 0;
}

/* this one's not HL-specific */

/* centres all background images created using the bg image JS/ajax calls for images */

.bg-image, .img-container {
    background-size: cover;
    background-position: center;
}

/* avoids 1px tall sections, especially when they hold JS but no content */

/* can be less specific, but might break other HL functionality */

.home .col-md-12[class*="section"] {
    min-height: 0;
}

/* allows for word breaking for emails and profile inbox messages */

body {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* overrides the above word breaking for yes/no toggle buttons in create event */

#event-additional-details-container {
    overflow-wrap: normal !important;
    word-wrap: normal !important;
}

/* resets the padding on col-md-12 full-width sections */

.row-full .col-md-12[class*="section"] {
    padding: 0;
}

.row-full .col-md-6[class*="section"], .row-full .col-md-8[class*="section"], .row-full .col-md-4[class*="section"], .row-full .col-md-3[class*="section"] {
    padding-left: 15px;
    padding-right: 15px;
}

/* reset alerts to neutral colours */

.alert-warning, .alert-success, .ideation-home .alert.alert-success, .ideation-detail .alert.alert-success {
    color: inherit;
    background-color: #f9f9f9;
    border-color: #f5f5f5;
}

/*** fix Add Event button styling ***/

.HLEventList .Content>div[id*="ContentPanel"]>.col-md-12.no-pad>.pull-right {
    float: none !important;
    text-align: right;
}

.HLEventList .Content>div[id*="ContentPanel"]>.col-md-12.no-pad>.pull-right+br {
    display: none;
}

@media (max-width: 768px) {
    .btn-group>.btn, .btn-group-vertical>.btn {
        float: left;
    }
}

/****** basics ******/

/*** fonts ***/

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: lato, sans-serif;
    font-size: 18px;
    line-height: 1.22;
    color: #575451;
}

h1, .h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.33;
    color: #052B3E;
}

h2, .h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: #052B3E;
    border-bottom: 1px solid #052B3E;
    padding-bottom: 10px;
}
.big-h2 h2 {
    font-size: 30px;
    border: none;
    line-height: 1.6;
    margin-top: 0;
}
.small-h2 h2,
.small-h2 .HLLandingControl h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.05em;
    border: none;
}
.small-h2 h2::before {
    font-family: CRNetwork;
    content: '\f005';
    float: left;
    margin-right: 15px;
    color: #ac121b;
}

.HLLandingControl h2, .HLLandingControl .heading h2 {
    padding-left: 0;
}

h3, .h3, .HLLandingControl h3, .HLLandingControl h3 a {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.2;
    color: #052B3E;
}
h4, .h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #15A0BA;
}

a {
    font-weight: 700;
    color: #AC121B;
    text-decoration: underline;
}

/*** transitions ***/

a, a:hover, a:focus, button, button:hover, button:focus, input, input:hover, input:focus {
    transition: .3s;
}

/*** round profile images ***/

.Welcome .imgButton.btn, a[id*="ProfileImage"]:not([id*="NameLink"]):not([id*="ManageDropDown"]), a[id*="UserImageDisplay"], a[id*="Contacts_PictureLink"], a[id*="lnkDisplay"], a[id*="Welcome_Details_ProfileLink"], .list-group-item-image, a[title="User Name Image"], a[oldtitle="User Name Image"], .member-dashboard-img a:not(.settings-button), .dashboard-col-3 ul li .col-sm-2 a, .HLEngagement .Picture a, td.ProfilePic>a,
.card h5 > strong,
.testimonial .testimonial-bottom-content > strong {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #d8d9db;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    padding: 0;
}

.Welcome .imgButton.btn {
    background-color: #fff;
}

.list-group-item-image {
    width: 40px;
    height: 40px;
}

.list-group-item-nochild .list-group-item-image {
    width: 20px;
    height: 20px;
}

.Welcome button.btn-default.btn.imgButton {
    width: 40px;
    height: 40px;
    min-height: 40px;
    border: none;
    margin-left: 0;
}

.text-muted-h2 a[id*="ImageControl_lnkDisplay"] {
    width: 140px;
    height: 140px;
    background: #f9f9f9;
}

.HLEngagement .Picture a {
    width: 50px;
    height: 50px;
}

a[id*="Welcome_Details_ProfileLink"] {
    width: 60px;
    height: 60px;
}

.HLLandingControl.HLDiscussions .title-row img, .HLLandingControl.HLMyDocuments .title-row img, .HLLandingControl.HLEngagement .title-row img, .HLLandingControl.HLRecentBlogs .title-row img {
    width: 55px !important;
    height: 55px !important;
    max-width: 55px;
}

.imgButton img, a[id*="ProfileImage"] img, a[id*="UserImageDisplay"] img, a[id*="Contacts_PictureLink"] img, a[id*="lnkDisplay"] img, a[id*="Welcome_Details_ProfileLink"] img, .list-group-item-image img, a[title="User Name Image"] img, a[oldtitle="User Name Image"] img, .member-dashboard-img img, .dashboard-col-3 ul li .col-sm-2 a img, .HLEngagement .Picture a img, td.ProfilePic>a>img,
.card h5 > strong > img,
.testimonial .testimonial-bottom-content > strong img {
    position: relative;
    max-height: 100% !important;
    width: auto;
}

.member-directory .member-picture {
    text-align: center;
}

/*** image containers ***/
.img-container {
    position: relative;
}
.img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.img-container.loading::before {
    animation: colorchange 1.5s infinite;
    -webkit-animation: colorchange 1.5s infinite;
    opacity: 1;
    transition: .3s;
}

@keyframes colorchange {
    0% {
        background: #c4c4c4;
    }

    50% {
        background: #4b4b4b;
    }

    100% {
        background: #c4c4c4;
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: #c4c4c4;
    }

    50% {
        background: #4b4b4b;
    }

    100% {
        background: #c4c4c4;
    }
}

/****** buttons ******/
.make-buttons em {
    display: inline-block;
    margin: -5px;
}
.make-buttons em a {
    margin: 5px;
}
.make-buttons em a {
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 15px 35px;
    background: #AC121B;
    border-radius: 5px;
}
/*** button margin ***/
.make-buttons.button-margin em a {
    margin-top: 40px;
}

/*** default HL buttons ***/
.btn:not(.dropdown-toggle) {
	white-space: normal;
}
.btn:not(.btn-secondary),
.blue-card .btn.btn-secondary {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    padding: 8px 32px;
    border-radius: 5px;
}
.btn.btn-sm,
.btn-group-sm>.btn {
    padding: 5px 10px;
    border-radius: 2px;
}
.btn.btn-xs {
    padding: 2px 5px;
}
/****** CHANGE COLOURS ON THESE ******/
/*.btn-default {
    background: #fff;
    border: 1px solid #f5f5f5;
    color: #4E4B48;
}
.btn-default:hover,
.btn-default:focus {
    background: #fafafa;
    color: #4E4B48;
    border-color: #4E4B48;
}
.btn-success,
.JoinLeaveLink .btn-primary,
.btn-info,
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active,
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    color: #fff;
    background: #44BDED;
    border-color: #44BDED;
}*/
.btn-primary,
.ideation-home .btn-success,
.community-radio .btn-group .btn-primary.dropdown-toggle,
.open .dropdown-toggle.btn-primary,
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background: #AC121B;
    border-color: #AC121B;
}

/****** margins between sections ******/
.padding-110.row > div[class*="col-md-"]:not(:empty) {
    padding-top: 110px;
    padding-bottom: 110px;
}
.padding-bottom-110.row > div[class*="col-md-"]:not(:empty) {
    padding-bottom: 110px;
}
.padding-75.row > div[class*="col-md-"]:not(:empty) {
    padding-top: 75px;
    padding-bottom: 75px;
}
@media (max-width: 991px) {
    .padding-110.row > div[class*="col-md-"]:not(:empty),
    .padding-75.row > div[class*="col-md-"]:not(:empty) {
        padding-bottom: 0;
    }
    .padding-75.row > div[class*="col-md-"]:not(:empty):last-child {
        padding-bottom: 75px;
    }
    .padding-110.row > div[class*="col-md-"]:not(:empty):last-child {
        padding-bottom: 110px;
    }
}
@media (max-width: 768px) {
    .padding-110.row > div[class*="col-md-"]:not(:empty),
    .padding-75.row > div[class*="col-md-"]:not(:empty) {
        padding-top: 45px;
    }
    .padding-110.row > div[class*="col-md-"]:not(:empty):last-child,
    .padding-75.row > div[class*="col-md-"]:not(:empty):last-child,
    .padding-bottom-110.row > div[class*="col-md-"]:not(:empty) {
        padding-bottom: 45px;
    }
    .add-stars.padding-bottom-110.row > div[class*="col-md-"]:not(:empty) {
        padding-bottom: 60px;
    }
}
.inner-row-wide {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
@media (max-width: 1230px) {
    .inner-row-wide {
        padding-left: 0;
        padding-right: 0;
    }
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-top-25 {
    margin-top: 25px;
}
.home div[class*="section"] {
    min-height: 0;
}

/****** re-setting padding on heading rows ******/
.row.heading > .col-md-12.no-pad {
    padding-left: 15px;
    padding-right: 15px;
}

/****** flex rows ******/
.flex-50 {
    display: flex;
    align-items: center;
}
.flex-50 > .col-md-6 {
    flex-basis: 50%;
}
@media (max-width: 991px) {
    .flex-50 {
        flex-wrap: wrap;
    }
    .flex-50 > .col-md-6 {
        flex-basis: 100%;
    }
}

/****** rows ******/
.row-full.no-bootstrap-padding > div[class*="col-md-"] {
    padding-left: 0;
    padding-right: 0;
}

/****** backgrounds ******/
.bg-grey {
    background-color: #FAF8F7;
    position: relative;
}
.bg-grey.has-waves,
.bg-grey.has-waves-white {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}
.bg-grey.has-waves {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/waves-grey.png');
}
.bg-grey.has-waves-white {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/white-waves-general.png');
}
.bg-grey.has-star > div[class*="section"]:last-child:not(:empty)::after,
.bg-grey.has-star > .row:first-child > div[class*="section"]:last-child:not(:empty)::after {
    content: '';
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/icons/large-star2.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 116px;
    height: 125px;
    bottom: 40px;
    right: -150px;
}
.bg-black {
    background: #1C2225;
}
.bg-blue {
    background: #324752;
}
.bg-red {
    background: #990F17;
}

/****** form controls ******/
.form-control {
    background: #FAF8F7;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: none;
}

/****** header ******/

#MPOuterMost.full #HEADER {
    max-width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

#MPOuterHeader>.col-md-12, #HEADER>.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}
#HEADER {
    min-height: 120px;
}

/*** logo and TTL on one line ***/

#Logo {
    float: left;
    position: relative;
    z-index: 20;
}

#MPheader>div.row:first-child {
    float: right;
    padding: 8px 0;
}

.skiplinkholder a, .skiplinkholder a:link, .skiplinkholder a:visited {
    left: -500%;
    top: -250px;
}

.skiplinkholder a:focus, .skiplinkholder a:active {
    left: 0;
    top: 0;
}

/*** logo ***/

#MPheader>div#Logo {
    padding: 20px 0;
}

/*** top text links ***/

#MPAuxNav ul.level1 li a {
    border: none;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #818181;
    padding: 0;
    margin: 12px 20px 0 0;
    text-decoration: none;
}

/*** login button ***/

#Welcome_LoginLink {
    background: transparent;
    border: 1px solid #AC121B;
    border-radius: 5px;
    padding: 4px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.02em;
    color: #ac121b;
    margin-top: 6px;
}

/*** search ***/

#searchColumn {
    display: none;
}

.search-bar-top {
    float: right;
    width: 245px;
    margin-right: 15px;
    margin-top: 6px;
}

.search-bar-top .SearchInputs, #searchColumn .SearchInputs {
    background: #FAF8F7;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.search-bar-top .form-control, #searchColumn .form-control {
    background: transparent;
    border: none;
    height: 28px;
    font-size: 14px;
    line-height: 16px;
    box-shadow: none;
}

.search-bar-top button[id*="SearchButton"], #searchColumn button[id*="SearchButton"] {
    height: 28px;
    width: 28px;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #AC121B;
}

.search-bar-top button[id*="SearchButton"] .glyphicon-search, #searchColumn button[id*="SearchButton"] .glyphicon-search {
    width: auto;
    vertical-align: unset !important;
    top: auto;
}

.search-bar-top button[id*="SearchButton"] .glyphicon-search::before, #searchColumn button[id*="SearchButton"] .glyphicon-search::before {
    font-family: CRNetwork;
    content: '\f000';
}

/*** profile dropdown ***/

#BtnShowProfile {
    display: none;
}

/****** main nav ******/

#NAV, .navbar-default {
    background-color: transparent;
    border: none;
}

#NAV {
    position: absolute;
    bottom: 5px;
    right: 75px;
}

#MPOuterMost.full #MPButtonBar {
    max-width: 100%;
}

#NAV .navbar-nav {
    float: right;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.disabled>a {
    color: #052B3E;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
}

/* removing extraneous padding on desktop */

@media (min-width: 768px) {
    #NAV .row {
        margin-left: 0;
        margin-right: 0;
    }
    #NAV .col-md-12, .navbar-collapse {
        padding: 0;
    }
}

/*** caret ***/

.navbar-default .navbar-nav>.dropdown>a .caret {
    border-bottom: none;
    border-top: none;
    height: auto;
    width: auto;
}

.navbar-default .navbar-nav>.dropdown>a .caret::before {
    font-family: CRNetwork;
    content: '\f001';
    color: #c4c4c4;
}

/*** dropdowns ***/

.navbar-nav>li>.dropdown-menu {
    right: 0;
    left: auto;
}

/****** member dashboard ******/
.member-dashboard {
    position: relative;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/dashboard-bg-blue.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.member-dashboard::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    z-index: 20;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/slim-white-wave.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.open.member-dashboard::after {
    height: 60px;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/white-waves-header.png');
}

.member-dashboard>.row.row-wide {
    position: relative;
    z-index: 2;
    padding-top: 35px;
    padding-bottom: 50px;
    overflow: hidden;
    height: 190px;
    transition: .6s ease-in-out;
}

.open.member-dashboard>.row.row-wide {
    height: 460px;
    padding-top: 60px;
    padding-bottom: 80px;
}
.dashboard-row-2 {
    opacity: 0;
    transition: opacity .3s;
}
.open .dashboard-row-2 {
    opacity: 1;
}

/*** toggle ***/

.dashboard-toggle {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 5;
}

.dashboard-toggle button {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    border-radius: 5px;
}
.dashboard-toggle button::after {
    font-family: CRNetwork;
    margin-left: 12px;
    content: '';
}

/*** top row ***/
.dashboard-row-1 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.user-details {
    flex-basis: 33%;
}
.dashboard-links-progress {
    flex-basis: 67%;
}

/*** user details ***/

.user-details {
    display: flex;
    position: relative;
}
.open .user-details {
    align-items: center;
}
.user-details .settings-button {
    background: #fff;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    color: #AC121B;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    font-weight: 400;
}

.member-dashboard-img {
    width: 68px;
    height: 68px;
    margin-right: 30px;
    position: relative;
}

.open .member-dashboard-img {
    height: 110px;
    width: 110px;
}

.member-dashboard-img * {
    padding: 0;
    margin: 0;
}

.member-dashboard-img a:not(.settings-button),
.member-dashboard-img a[id*="lnkDisplay"] {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #d8d9db;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.open .member-dashboard-img a:not(.settings-button), 
.open .member-dashboard-img a[id*="lnkDisplay"] {
    width: 110px;
    height: 110px;
}
.member-dashboard-img a > img,
.member-dashboard-img a[id*="lnkDiplay"] > img {
    position: relative;
    max-height: 100% !important;
    width: auto;
    max-width: unset;
}

.greeting {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.greeting {
    flex-direction: column;
    align-items: flex-start;
}
.greeting span {
    display: block;
}

.greeting>a {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    text-decoration: underline;
}

.greeting>a:hover, .greeting>a:focus {
    text-decoration: none;
}

/*** email content ***/
.email-content {
    margin-top: 20px;
}
.email-content i {
    color: #fff;
    font-size: 18px;
    margin-right: 9px;
}

.email-content a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    font-weight: 400;
}
.email-content a:hover,
.email-content a:focus {
    text-decoration: underline;
}

/*** progress text ***/

.progress-text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: block;
    margin-bottom: 10px;
}

.progress {
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    height: 30px;
    box-shadow: none;
    width: 260px;
    margin-bottom: 30px;
}

.progress-bar-info {
    text-align: center;
    border-radius: 5px;
    font-size: 0;
    line-height: 20px;
    color: #fff;
    background: linear-gradient(90deg, #81080F 0%, #AC121B 100%);
}

/*** links ***/
.dashboard-links {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-link {
    flex-basis: auto;
    margin-right: 45px;
}
.dashboard-link:last-child {
    margin-right: 0;
}
.dashboard-link i {
    color: #fff;
    font-size: 18px;
    margin-right: 8px;
}
.dashboard-link a {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    font-weight: 400;
}
.dashboard-link a:hover,
.dashboard-link a:focus {
    text-decoration: underline;
}

/*** buttons ***/
.dashboard-row-2 {
    display: flex;
    margin-left: -18px;
    margin-right: -18px;
}
.dashboard-button {
    padding: 0 18px;
    flex-basis: 20%;
}
.dashboard-button,
.dashboard-button .HtmlContent {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
}
.dashboard-button i {
    display: block;
    color: #AC121B;
    font-size: 36px;
    margin-bottom: 15px;
}
.dashboard-button a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    background: #faf8f7;
    padding: 15px 25px 10px 25px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #052b3e;
    font-weight: 400;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.08);
    border-bottom: 5px solid transparent;
}
.dashboard-button a:hover,
.dashboard-button a:focus {
    border-bottom-color: #ac121b;
    transform: translateY(-5px);
    color: #ac121b;
    font-weight: 700;
}
.dashboard-button a:hover i,
.dashboard-button a:focus i {
    color: #052b3e;
}

/*** slick dots for mobile ***/
.member-dashboard ul.slick-dots {
    bottom: 25px;
    display: none !important;
}
.open.member-dashboard ul.slick-dots {
    display: block !important;
}
.member-dashboard ul.slick-dots li {
    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
.member-dashboard ul.slick-dots li button {
    display: none;
}
.member-dashboard ul.slick-dots li.slick-active {
    opacity: 1;
}

@media (max-width: 1230px) {
    .member-dashboard > .row.row-wide {
        padding-left: 15px;
        padding-right: 15px;
    }
    .dashboard-toggle {
        right: 15px;
    }
}

@media (max-width: 991px) {
    .member-dashboard .row.row-wide.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .open.member-dashboard>.row.row-wide {
        height: 385px;
    }
    .member-dashboard div[class*="dashboard-col"] {
        padding-left: 10px;
        padding-right: 10px;
    }
    .member-dashboard .dashboard-row-1.slick-slide,
    .member-dashboard .dashboard-row-2.slick-slide {
        display: flex;
        flex-wrap: wrap;
    }
    .user-details,
    .dashboard-links-progress {
        flex-basis: 100%;
    }
    .dashboard-links-progress {
        margin-top: 20px;
        opacity: 0;
        transition: opacity .3s;
    }
    .open .dashboard-links-progress {
        opacity: 1;
    }
    .dashboard-row-2 {
        margin-left: 0;
        margin-right: 0;
    }
    .dashboard-button {
        padding: 0 20px;
        flex-basis: 50%;
    }
    .dashboard-button i {
        float: left;
        margin-bottom: 0;
    }
    .dashboard-button a {
        margin-top: 15px;
    }
    .dashboard-link {
        margin-bottom: 15px;
    }
    .dashboard-link:last-child {
        margin-right: 15px;
    }
}

@media (max-width: 650px) {
    .member-dashboard:not(.open) .email-content {
        display: none;
    }
    .dashboard-button {
        flex-basis: 100%;
    }
    .open.member-dashboard>.row.row-wide {
        height: 550px;
    }
}

@media (max-width: 500px) {
    .greeting, .greeting span {
        display: block;
    }
    .greeting>a {
        font-size: 24px;
    }
    .member-dashboard>.row.row-wide {
        padding-top: 65px;
    }
}

@media (max-width: 350px) {
    .open.member-dashboard>.row.row-wide {
        height: 550px;
    }
}

/****** active groups ******/
.active-groups .Count,
.active-groups div[id*="BreadCrumbs"],
.active-groups .pull-right > a.btn-community-stats-static:not(:first-of-type) {
    display: none;
}
.active-groups h2 {
    position: relative;
}
.active-groups div[id*="UpdatePanel1"] {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.active-groups div[id*="UpdatePanel1"] > .row:first-child {
    display: none;
}
.active-groups div[id*="UpdatePanel1"] .community-list {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(33.33333333% - 30px);
    margin: 0 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.08);
    padding: 25px 25px 25px 135px;
    border: none;
    position: relative;
    z-index: 20;
}
.active-groups div[id*="UpdatePanel1"] .community-list .col-md-7,
.active-groups div[id*="UpdatePanel1"] .community-list .col-md-5 {
    width: 100%;
    padding: 0;
}
.active-groups div[id*="UpdatePanel1"] .community-list .col-md-12,
.active-groups div[id*="UpdatePanel1"] .community-list .col-md-7 {
    position: static;
    padding: 0;
}
.active-groups div[id*="UpdatePanel1"] .community-list h3 {
    margin-top: 0;
    margin-bottom: 8px;
}
.active-groups div[id*="UpdatePanel1"] .community-list h3 a {
    color: #052B3E;
}
.active-groups div[id*="UpdatePanel1"] .community-list h3 a::before {
    color: #AC121B;
    font-size: 65px;
    font-family: CRNetwork;
    content: '\f013';
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
}
.active-groups div[id*="pnlAttributes"] .pull-right {
    float: none !important;
}
.active-groups .pull-right > a.btn-community-stats-static,
.active-groups .pull-right > a.btn-community-stats-static .badge {
    background: transparent;
    border: none;
    padding: 0;
    font-weight: normal;
    color: #575451;
    font-size: 14px;
    line-height: 17px;
}
.active-groups .pull-right > a.btn-community-stats-static .badge {
    float: left;
    margin-right: 3px;
    top: unset;
}

/****** call out cards ******/
.callout-card {
    border-radius: 5px;
    padding: 25px;
    background: rgba(245, 242, 239, 0.5);
    margin-bottom: 40px;
}
.blue-card.callout-card {
    background: linear-gradient(104.11deg, #052B3E 1.69%, #15A0BA 127.35%);
    color: #fff;
}
.red-card.callout-card {
    background: linear-gradient(98.75deg, #1C2225 -1.08%, #AC121B 137.68%), #052B3E;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.08);
}
.callout-card > .HtmlContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 135px;
}
.callout-card h2,
.callout-card .HLLandingControl h2 {
    border: none;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.blue-card.callout-card h2::before {
    color: #15a0ba;
}
.blue-card.callout-card,
.blue-card.callout-card h2,
.blue-card.callout-card h4,
.blue-card.callout-card h5,
.blue-card.callout-card .text-muted,
.red-card.callout-card,
.red-card.callout-card h2,
.red-card.callout-card h4,
.red-card.callout-card h5,
.red-card.callout-card .text-muted {
    color: #fff;
}
.blue-card .hlc-blockui-busy > .row:first-child > .col-md-12,
.blue-card .hlc-blockui-busy > .container,
.blue-card.callout-card .report-section-header,
.blue-card.callout-card .report-section {
    padding-left: 0;
    padding-right: 0;
}
.blue-card .hlc-blockui-busy > .row:first-child > .col-md-12 {
    margin: -5px;
}
.blue-card .hlc-blockui-busy > .row:first-child > .col-md-12 > .btn {
    margin: 5px;
    padding: 8px 24px;
}
.blue-card.make-buttons em a,
.blue-card .btn-primary,
.blue-card .btn-success {
    background: #fff;
    color: #052B3E !important;
    border-color: #fff;
}
.blue-card.callout-card h4 + hr {
    display: none;
}
.blue-card .report-section {
    background: transparent;
}
.blue-card .chart-wrapper,
.blue-card .chart-wrapper svg {
    width: 320px !important;
    color: #fff;
}

/*** smaller chart for phone and small laptop screens ***/
@media (min-width: 992px) and (max-width: 1180px),
 (max-width: 420px) {
    .blue-card .chart-wrapper,
    .blue-card .chart-wrapper svg {
        width: 240px !important;
    }
}

.blue-card .chart-wrapper svg rect,
.blue-card .chart-wrapper svg text,
.blue-card .chart-wrapper svg path,
.blue-card .chart-wrapper svg line {
    fill: #fff;
    stroke: #fff;
}

/*** card with landing control ***/

.callout-card .HLLandingControl ul {
    padding-top: 45px;
}
.callout-card .HLLandingControl ul li {
    padding-bottom: 0;
    margin-bottom: 0;
}
.callout-card .HLLandingControl ul li .title-row .col-sm-10.col-md-10,
.HLLandingControl .callout-card .title-row .col-sm-10.col-md-10 {
    width: 100%;
}
.callout-card .HLLandingControl ul li h3 {
    margin-bottom: 15px;
}
.callout-card .HLLandingControl ul li .profile-picture-byline {
    padding: 10px 25px 10px 10px;
    border-radius: 100px;
    background: #fff;
    display: inline-flex;
    align-items: center;
}
.callout-card .HLLandingControl ul li .profile-picture-byline .col-md-2,
.callout-card .HLLandingControl ul li .ByLine {
    float: none;
}
.callout-card .HLLandingControl ul li .profile-picture-byline a[id*="ProfileImage"],
.callout-card .HLLandingControl ul li .profile-picture-byline .col-md-2 {
    width: 35px;
    height: 35px;
}
.callout-card .HLLandingControl ul li .ByLine,
.HLLandingControl .callout-card .ByLine {
    padding-left: 20px;
    padding-top: 0;
    letter-spacing: 0.04em;
}
.callout-card .HLLandingControl ul li .ByLine a,
.HLLandingControl .callout-card .ByLine a {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: #AC121B;
    text-decoration: none;
    letter-spacing: 0;
}

/****** questions that need answered with cards ******/
.unanswered-questions {
    border: 1px solid #AC121B;
    border-radius: 5px;
    padding: 40px;
    margin-top: 25px;
    position: relative;
}
.unanswered-questions .HLLandingControl .row.heading > .col-md-12 {
    position: static;
}
.unanswered-questions .HLLandingControl h2 {
    color: #ac121b;
    position: absolute;
    top: -25px;
    left: -20px;
    background: #fff;
    padding: 0 15px 5px 0;
    line-height: 40px;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}
.unanswered-questions h2::before {
    font-family: CRNetwork;
    content: '\f007';
    margin-right: 10px;
    font-size: 40px;
    float: left;
}

.unanswered-questions .HLLandingControl .Content ul {
    padding-top: 0;
}
.unanswered-questions .HLLandingControl ul li.callout-card {
    position: relative;
    padding: 20px 30px 50px 30px;
    margin-bottom: 35px;
}
.unanswered-questions .HLLandingControl ul li.callout-card:last-child {
    margin-bottom: 0;
}
.unanswered-questions .HLLandingControl ul li .profile-picture-byline {
    padding-left: 55px;
    position: absolute;
    bottom: 10px;
    left: 30px;
}
.unanswered-questions .HLLandingControl ul li .profile-picture-byline .col-md-2 {
    position: absolute;
    top: 0;
    left: 0;
}
.unanswered-questions .HLLandingControl ul li .profile-picture-byline a[id*="ProfileImage"] {
    border: 5px solid #fff;
}
.unanswered-questions .HLLandingControl ul li .profile-picture-byline a[id*="ProfileImage"] img {
    width: 55px !important;
    height: 55px !important;
}

/****** HTML content card with link and icon ******/
.callout-card .HtmlContent {
    position: relative;
}
.callout-card > .HtmlContent > a {
    align-self: flex-end;
    color: #fff;
    text-decoration: none;
}
.callout-card.icon {
    position: relative;
}
.callout-card.icon::before {
    font-family: CRNetwork;
    font-size: 120px;
    color: #fff;
    opacity: 0.15;
    position: absolute;
    bottom: 20px;
    right: 45px;
}
.callout-card.icon.bell::before {
    content: '\f006';
}

/****** tag buttons ******/
.tag-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -10px 35px -10px;
}
.tag-button {
    padding: 10px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    display: flex;
}
.tag-button.make-buttons .HtmlContent,
.tag-button.make-buttons em {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
}
.tag-button.make-buttons em,
.tag-button.make-buttons em a {
    margin: 0;
}
.tag-button.make-buttons em a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    background: #F5F2EF;
    color: #AC121B;
    position: relative;
}
.tag-button.make-buttons em a::before {
    content: '';
    background: #fff;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 8px;
    left: 8px;
}

/*** changing flex-basis for small desktops + phone screens ***/
@media (min-width: 992px) and (max-width: 1090px),
(max-width: 375px) {
    .tag-button {
        flex-basis: 100%;
    }
}

/****** hero ******/
.hero {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/rocket.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: calc(100%  +75px);
    position: relative;
    padding: 0 calc(50% - 600px);
    justify-content: space-between;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: linear-gradient(93.75deg, #f9f8f7, 8.97%, #e3ded7 100%);
    z-index: -1;
}
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/white-waves-header.png');
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.hero > .col-md-6:not(:empty) {
    padding-top: 60px;
    padding-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
    float: none;
    z-index: 10;
}
.hero > .col-md-6:not(:empty):first-child {
    max-width: 560px;
    width: 100%;
}
.hero > .col-md-6:not(:empty):last-child {
    max-width: 470px;
    width: 100%;
}
.hero h1 {
    margin-top: 0;
    margin-bottom: 15px;
}
.hero p {
    font-weight: 600;
    font-size: 21px;
    color: #052B3E;
}
.hero p:last-of-type {
    margin-bottom: 25px;
}

/*** login section ***/
.hero-login .login-panel {
    margin: 0;
    width: 100%;
}
.hero-login .panel {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 5px;
    border: none;
}
.hero-login .panel-heading {
    display: none;
}
.hero-login .panel-body {
    padding: 20px 25px;
}
.hero-login .form-group {
    margin-left: 0;
    margin-right: 0;
}
.hero-login .panel-body > div:first-child .form-group,
.hero-login .panel-body > div:nth-child(2) .form-group {
    display: flex;
    align-items: center;
}
.hero-login .form-group > div {
    padding: 0;
}
.hero-login .form-group > .col-md-5:first-child {
    width: calc(100% - 275px);
    font-weight: 600;
    font-size: 18px;
    color: #052B3E;
}
.hero-login .form-group > .col-md-7:last-child {
    width: 275px;
}
.hero-login .form-control {
    height: 42px;
}
.hero-login .panel-body > .form-group:nth-child(3),
.hero-login div[id*="SignupLinkSection"] {
    text-align: right;
}
.hero-login a[id*="ForgotPassword"] {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #15A0BA;
    padding: 7px 22px;
    border: 1px solid #15A0BA;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}
.hero-login div[id*="SignupLinkSection"] p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #4b4b4b;
    margin-bottom: 0;
}
.hero-login div[id*="SignupLinkSection"] a {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
}
.hero-login .remember-me .form-control {
    background: transparent;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.hero-login .remember-me input {
    float: left;
}
.hero-login .remember-me label {
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #818181;
    margin-bottom: 0;
}
.hero-login .remember-me + .row {
    float: left;
}

/****** logo background section ******/
.logo-bg {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/shield-grey.png');
    background-repeat: no-repeat;
    background-position-x: calc(50% + 400px);
    background-position-y: calc(100% + 100px);
}

/****** stars on landing controls ******/
.add-stars > .col-md-8::before,
.add-stars > .col-md-8::after {
    content: '';
    position: absolute;
    transform: translate(-100%, -50%);
}
.add-stars > .col-md-8::before {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/icons/small-star1.png');
    width: 61px;
    height: 66px;
    left: -50px;
    top: 50%;
}
.add-stars > .col-md-8::after {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/icons/large-star1.png');
    width: 114px;
    height: 122px;
    left: 0;
    top: 75%;
}
.add-stars > .col-md-4::before,
.add-stars > .col-md-4::after {
    content: '';
    position: absolute;
    transform: translate(100%, -50%);
}
.add-stars > .col-md-4::before {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/icons/small-star2.png');
    width: 53px;
    height: 58px;
    right: -50px;
    top: 55%;
}
.add-stars > .col-md-4::after {
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/icons/large-star2.png');
    width: 116px;
    height: 125px;
    right: 0;
    top: 65%;
}

/****** landing controls ******/
.home .sort-options-container {
    display: none;
}
.ContentUserControl .HLLandingControl,
.HLLandingControl .Content {
    padding: 0;
    border: none;
    margin: 0;
}
.HLLandingControl .Content ul {
    padding-top: 25px;
}

.HLLandingControl ul li {
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #F4F6F7;
}
.HLLandingControl ul li:last-child {
    border-bottom: none;
}
.SearchResults.HLLandingControl .title-row img {
    max-width: 55px;
}

/*** fix for ACL labels ***/
.HLLandingControl ul li .title-row .col-sm-2.col-md-2 {
    width: 55px;
    margin-right: 20px;
    float: left;
    padding: 0;
}
.HLLandingControl ul li .title-row .col-md-10.col-sm-10,
.HLLandingControl ul li .title-row .col-md-7.col-sm-7 {
    float: left;
    width: calc(100% - 75px); 
    padding: 0;
}
.HLLandingControl.SearchResults ul li .title-row .col-md-3.pull-right {
    display: none;
}

/*** byline and posted in ***/
.HLLandingControl ul li::before,
.HLLandingControl ul li::after {
    content: ' ';
    display: table;
}
.HLLandingControl ul li::after {
    clear: both;
}
.HLLandingControl .ByLine {
    color: #4B4B4B;
    font-size: 12px;
    line-height: 14px;
    float: left;
    padding-top: 5px;
}
.HLLandingControl div[id*="FoundIn"] {
    float: right;
}
.HLLandingControl div[id*="FoundIn"] h5 {
    margin: 0;
}
.HLLandingControl div[id*="FoundIn"] h5 a {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    padding: 4px 12px;
    background: #F5F2EF;
    border-radius: 100px;
    margin-right: 10px;
}
.HLLandingControl div[id*="FoundIn"] h5 a:last-of-type {
    margin-right: 0;
}

/*** homepage latest activity ***/
.latest-activity .HLLandingControl ul li {
    padding-left: 70px;
    position: relative;
}
.latest-activity .HLLandingControl ul li .title-row .col-sm-2.col-md-2 {
    position: absolute;
    left: -70px;
    top: 0;
}
.latest-activity .HLLandingControl ul li .title-row .col-md-10.col-sm-10,
.latest-activity .HLLandingControl ul li .title-row .col-md-7.col-sm-7 {
    width: 100%;
}

/*** events ***/
.home .HLEventList ul li {
    border-bottom: none;
    margin-bottom: 25px;
    padding-bottom: 0;
}
.HLEventList ul li h4,
.HLEventList ul li .timeAgoFormat {
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 14px;
    color: #4b4b4b;
    letter-spacing: 0.04em;
}
.HLEventList ul li h4 {
    margin-bottom: 5px;
    margin-top: 0;
}

/* date blocks */
.home .HLEventList ul li > .row {
    display: flex;
}
.home .HLEventList ul li .col-md-2 {
    width: 80px;
    margin-right: 20px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    min-height: 95px;
}
.home .HLEventList ul li .col-md-10 {
    width: calc(100% - 100px);
    float: left;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.home .HLEventList ul li .col-md-2 > .row {
    margin-bottom: 0;
}
.home .HLEventList ul li .col-md-2 > .row,
.home .HLEventList .date-block {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
}
.home .HLEventList .date-block {
    background: #f5f2ef;
    border-radius: 5px;
    color: #ac121b;
    flex-direction: column;
    justify-content: center;
}
.home .HLEventList .date-block .calendar-day {
    display: none;
}
.home .HLEventList .date-block .calendar-month {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 21px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}
.home .HLEventList .date-block .calendary-number span {
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2;
    display: inline-block;
}

/****** homepage blogs ******/
.homepage-blogs {
    margin-bottom: -110px;
}
.padding-spacer {
    padding-top: 155px;
}
.home .HLRecentBlogs {
    padding-top: 40px;
}
.home .HLLandingControl.HLRecentBlogs h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}
.home .HLRecentBlogs ul {
    display: flex;
    margin-left: -25px;
    margin-right: -25px;
    padding-bottom: 35px;
}
.home .HLRecentBlogs ul li {
    flex-basis: calc(50% - 50px);
    margin: 0 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 0 15px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}
.home .HLRecentBlogs ul li .img-container {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.home .HLRecentBlogs ul li .text-container {
    padding: 55px 35px 85px 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
    position: relative;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(100% - 200px);
}
.home .HLRecentBlogs.HLLandingControl ul li .title-row .col-md-10.col-sm-10 {
    width: 100%;
}
.home .HLRecentBlogs ul li .text-container > .content-row > .col-md-12 {
    position: static;
}
.home .HLRecentBlogs ul li .blogs-posted-in {
    position: absolute;
    top: 25px;
    left: 35px;
}
.home .HLRecentBlogs ul li .blogs-posted-in a {
    text-decoration: none;
    text-transform: uppercase;
    color: #15A0BA;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
}
.home .HLRecentBlogs ul li h3 a {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.6;
}
.home .HLRecentBlogs ul li a[id*="BlogList_More"] {
    position: absolute;
    bottom: 25px;
    right: 30px;
    display: block;
    background: #AC121B;
    border-radius: 5px;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
}
.home .HLRecentBlogs ul li .profile-picture-byline {
    background: #F4F2EF;
    border-radius: 100px;
    padding: 9px 18px 9px 9px;
    line-height: 40px;
    margin-top: 25px;
    position: absolute;
    left: 35px;
    bottom: 25px;
    max-width: calc(100% - 235px);
    display: flex;
    align-items: center;
}
.home .HLRecentBlogs ul li .profile-picture-byline .col-md-2 {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    float: left;
}
.home .HLRecentBlogs ul li .profile-picture-byline a[id*="ProfileImage"] {
    width: 40px;
    height: 40px;
}
.home .HLRecentBlogs ul li .profile-picture-byline .ByLine {
    font-size: 18px;
    line-height: 1.22;
    padding-top: 0;
}
.home .HLRecentBlogs ul li .profile-picture-byline .ByLine a {
    text-decoration: none;
}

/****** CTA icon sections ******/
.icon-cta {
    padding-bottom: 40px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
}
.bg-grey .icon-cta {
    padding-top: 90px;
}
@media (min-width: 992px) {
    .col-md-4:first-child > .icon-cta {
        margin-left: 0;
    }
    .col-md-4:last-child > .icon-cta {
        margin-right: 0;
    }
}
.icon-cta img {
    margin-left: auto;
    margin-right: auto;
}
.icon-cta h2 {
    border: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
.icon-cta a {
    text-decoration: none;
    font-weight: 400;
}

/*** stars in background ***/
.bg-grey .col-md-4:first-child .icon-cta::before {
    content: '';
    background: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/icons/small-star1.png');
    background-position: top left;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 40px;
    width: 61px;
    height: 66px;
}
.bg-grey .col-md-4:last-child .icon-cta::after {
    content: '';
    background: url('https://higherlogicdownload.s3.amazonaws.com/COMMUNITYROUNDTABLE/e7fcd1a0-4605-4cb6-ab5a-99bf97c7cb09/UploadedImages/2020_eConverse_Site/icons/small-star2.png');
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    width: 53px;
    height: 58px;
    right: 0;
    top: 122px;
    transform: translateX(100%);
}

/****** testimonials ******/
.testimonials {
    display: flex;
}
.testimonials > .col-md-4 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33.333333333%;
    display: flex;
}
.testimonial {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
}
.testimonial .HtmlContent {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    padding: 34px 54px 164px 54px;
    position: relative;
}
.testimonial h2 {
    margin-top: 0;
    color: #fff;
    font-weight: 600;
    border: none;
}
.testimonial-bottom-content {
    position: absolute;
    bottom: 34px;
    left: 54px;
    right: 54px;
}
.testimonial .testimonial-bottom-content > strong {
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    float: left;
    margin-right: 20px;
}
.testimonial h4,
.testimonial p {
    color: #fff;
}
.testimonial h4 {
    margin-top: 0;
}
.testimonial p {
    font-size: 14px;
    font-weight: 700;
}
.testimonial p > img {
    height: 30px;
    width: auto;
}
.testimonial p:nth-last-child(2) {
    margin-bottom: 0;
}
.testimonial p:last-child {
    padding: 5px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 10px;
}
.testimonial.bg-black p:last-child {
    background: #5d6366;
}
.testimonial.bg-blue p:last-child {
    background: #3296b1;
}
.testimonial.bg-red p:last-child {
    background: #c94048;
}

/****** grey section with shield image ******/

/*** cards ***/
.card {
    background: #fff;
    padding: 30px 35px;
    border-radius: 5px;
    width: 560px;
    max-width: 100%;
    position: relative;
}
.card h4,
.card h2 {
    margin-top: 0;
    margin-bottom: 5px;
}
.card h5 {
    background: #F4F2EF;
    border-radius: 100px;
    padding: 9px 18px 9px 9px;
    margin-top: 25px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
}
.card h5 > strong {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    float: left;
}
.card h5 a {
    text-decoration: none;
}
.get-the-scoop {
    margin-top: 45px;
    margin-bottom: 130px;
}
.card.floating-button em {
    margin: 0;
}
.card.floating-button em a {
    position: absolute;
    right: 35px;
    bottom: 0;
    transform: translateY(50%);
    margin: 0;
}

/*** shield image ***/
.clip-path-svg,
.clip-path-svg-mob {
    position: absolute;
    z-index: -10;
}
.clip-me-shield {
    clip-path: url(#shield-clip-path);
    height: 601px;
    width: 449px;
    max-width: 100%;
    position: absolute;
    right: 40px;
    top: -125px;
}

/****** footer ******/
#MPOuterFooter {
    background: #1C2225;
    padding: 40px calc(50% - 600px);
    color: #fff;
    font-size: 15px;
    line-height: 1.33;
    position: relative;
}
#MPFooterLink,
#MPCopyright {
    display: none;
}
#FOOTER h2 {
    margin-top: 0;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.footer-logo {
    margin-bottom: 45px;
    position: relative;
}
.footer-logo::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid rgba(255, 255, 255, 0.25);;
}
.footer-logo .HtmlContent {
    padding: 0 35px;
    background: #1c2225;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}
.footer-logo img {
    margin-left: auto;
    margin-right: auto;
}
.footer-contact,
.footer-links {
    margin-bottom: 20px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
.footer-links a:hover,
.footer-links a:focus {
    color: #15A0BA;
    text-decoration: underline;
}
.footer-social {
    margin-top: 34px;
    margin-bottom: 42px;
}
.footer-social a {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    margin: 12px;
    font-weight: 400;
}
.footer-social a:hover,
.footer-social a:focus {
    color: #15a0ba;
}
.footer-copyright {
    font-size: 12px;
    line-height: 14px;
}
.footer-copyright a {
    color: #15a0ba;
    font-weight: 400;
}

/****** responsive ******/

@media (max-width: 1360px) {
    #MPOuterMost.full #HEADER {
        padding-left: 20px;
        padding-right: 20px;
    }
    #NAV {
        right: 0;
    }
}

@media (max-width: 1230px) {
    .hero,
    .bg-grey.row-full.inner-row-wide > .col-md-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1200px) {
    #Logo>.col-md-12, #MPheader>.row:first-child>.col-md-12 {
        padding: 0;
    }
}

@media (max-width: 992px) {
    .row-wide div[class*='section'] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .footer-contact,
    .footer-links {
        text-align: center;
    }
    .hero {
        flex-wrap: wrap;
        background-position-y: bottom;
    }
    .testimonials {
        flex-wrap: wrap;
    }
    .hero > .col-md-6:not(:empty),
    .testimonials > .col-md-4 {
        flex-basis: 100%;
    }
    .hero > .col-md-6:not(:empty):last-child {
        padding-top: 0;
    }
    .icon-cta {
        padding-top: 0;
    }
    .col-md-4:first-child > .icon-cta {
        padding-top: 40px;
    }
    .home .HLRecentBlogs ul {
        flex-wrap: wrap;
    }
    .home .HLRecentBlogs ul li {
        flex-basis: 100%;
    }
    .home .HLRecentBlogs ul li:first-child {
        margin-bottom: 30px;
    }
    .active-groups div[id*="UpdatePanel1"] {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
    .active-groups div[id*="UpdatePanel1"] .community-list {
        margin: 15px 0;
        flex-basis: 100%;
    }

    /*** nav ***/
    #NAV {
        position: relative;
        bottom: auto;
        right: auto;
        z-index: 10;
        margin-top: -60px;
    }
    #searchColumn {
        display: block;
        max-width: 100%;
        float: none !important;
    }
    .search-bar-top {
        display: none;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}
@media (max-width: 768px) {
    .clip-me-shield {
        top: -110px;
    }
}
@media (max-width: 650px) {
    .clip-me-shield {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        height: 375px;
        clip-path: url(#shield-clip-path-mob);
    }
}
@media (max-width: 600px) {
    #MPheader > div.row:first-child {
        float: none;
    }
    #MPheader>div#Logo {
        padding-top: 0;
    }
    #NAV {
        margin-top: -75px;
    }
    .hero-login .panel-body > div:first-child .form-group,
    .hero-login .panel-body > div:nth-child(2) .form-group {
        flex-wrap: wrap;
    }
    .hero-login .panel-body .form-group .col-md-5,
    .hero-login .panel-body .form-group .col-md-7 {
        flex-basis: 100%;
    }
}
@media (max-width: 550px) {
    .home .HLRecentBlogs ul li .text-container {
        padding-bottom: 155px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .home .HLRecentBlogs ul li h3 a {
        font-size: 21px;
    }
    .home .HLRecentBlogs ul li .profile-picture-byline {
        bottom: 90px;
        max-width: 100%;
        left: 15px;
    }
    .home .HLRecentBlogs ul li .blogs-posted-in {
        left: 15px;
    }
    .home .HLRecentBlogs ul li a[id*="BlogList_More"] {
        left: 15px;
        right: auto;
    }
}
@media (max-width: 480px) {
    a.btn-community-stats-static span.badge {
        width: auto;
        margin: 0 3px 0 0;
    }
    .rowContainer.community-list div.pull-right {
        text-align: left;
    }
}
@media (max-width: 475px) {
    h2, .h2,
    h3, .h3, .HLLandingControl h3, .HLLandingControl h3 a {
        font-size: 18px;
    }
    .unanswered-questions .HLLandingControl h2 {
        left: -14px;
        top: -22px;
    }
    .unanswered-questions h2::before {
        font-size: 28px;
    }
    .unanswered-questions {
        padding: 15px;
    }
    .unanswered-questions .HLLandingControl ul li.callout-card {
        margin-bottom: 20px;
        padding-bottom: 65px;
    }
}
@media (max-width: 375px) {
    #Logo,
    #MPheader > div.row:first-child .pull-right:last-child {
        max-width: calc(100% - 40px);
    }
    #MPAuxNav ul.level1 li {
        float: none !important;
    }
    #MPAuxNav ul.level1 li:first-child a {
        margin-top: 0;
    }
    .hero-login .remember-me + .row {
        float: none;
        margin-bottom: 15px;
    }
    .hero-login .panel-body > .form-group:nth-child(3), 
    .hero-login div[id*="SignupLinkSection"] {
        text-align: left;
    }
    .testimonial .HtmlContent {
        padding: 15px 20px 145px 20px;
    }
    .testimonial-bottom-content {
        left: 20px;
        right: 20px;
        bottom: 15px;
    }
}